.skills {
  width: 100%;
  height: 100vh;
  /* position: absolute; */
  margin-top: 2em;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-header {
  margin-top: 2em;
}

.skills-container {
  width: 80%;
  height: 90%;
  margin-top: 4em;
}
.skills-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.skill-item {
  width: 30em;
  height: 3em;
}
.skill-name {
  font-size: 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
}
.skill-icon {
  font-size: 1.2em;
  color: yellow;
}
.skill-tittle {
  font-weight: bold;
}
.skill-table {
  width: 100%;
  height: 2em;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 2em;
}
.skill-range {
  /* width: 90%; */
  height: 2em;
  background-color: #2272ff;
  position: absolute;
  top: 0em;
  border-radius: 2em;
}
.skill-range > h2 {
  position: absolute;
  top: -0.9em;
  text-indent: 1em;
}
